*, *::after, *::before {
    box-sizing: border-box;
  }

.container {
  margin-top: 4rem;
}
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
    
  }  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
body{
    background-color: lightgrey;
}
.Common{
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgb(0, 0, 0);
}
.Uncommon{
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgb(43, 93, 231);
}
.Rare{
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgb(226, 205, 8);
}
.Mythic{
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgb(223, 24, 24);
}

img{
    border-radius: 14px;
    backface-visibility: hidden;
    display: block;
    margin: 3px;
    position: relative;

}
.cardImages {
    margin: 20px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    text-align: center;   
}
.cardImages a img{
    max-width: 	223px;
    max-height: 310px;
} 
.cardImages:hover{
    transition: .3s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;    
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.wrapper2{
    margin:70px auto;
    padding:20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 70%;
    transition: all 5s ease-in-out;
}
.wrapper2 .close{
    top: 20px;
    right: 30px;
    transition: all 200ms;
    text-decoration: none;
    color: #333;
}
#DeckInfo{
  padding-top: 1rem;
  list-style-type: none;
  display: inline;
}
#Button2{
  padding-top: 2rem;
}